<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Document</title>
</head>

<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">WebSiteName</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Quản lý bán hàng</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Product
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">

                        <li><a href="/product">Products</a></li>
                        <li><a href="/productManager">Products Manager</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">User
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/user">Users</a></li>
                        <li><a href="/userManager">Users Manager</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
    <h1>Products</h1>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Price</th>
                <th>Image</th>
                <th>Color</th>
                <th>Type</th>
                <th>Id client</th>
                <th>Name client</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Magire B</td>
                <td>300.000vnd</td>
                <td>link123</td>
                <td>red</td>
                <td>xyz</td>
                <td>11</td>
                <td>Messi</td>
            </tr>
            <tr class="success">
                <td>2</td>
                <td>Magire</td>
                <td>300.000vnd</td>
                <td>link123</td>
                <td>red</td>
                <td>xyz</td>
                <td>12</td>
                <td>Jory Terion</td>
            </tr>
            <tr class="danger">
                <td>3</td>
                <td>Magire</td>
                <td>300.000vnd</td>
                <td>link125</td>
                <td>red</td>
                <td>xyz</td>
                <td>7</td>
                <td> Terry Join </td>
            </tr>
            <tr class="info">
                <td>4</td>
                <td>Magire</td>
                <td>300.000vnd</td>
                <td>link789</td>
                <td>red</td>
                <td>xyz</td>
                <td>6</td>
                <td>Morgan</td>
            </tr>
            <tr class="warning">
                <td>5</td>
                <td>Magire</td>
                <td>300.000vnd</td>
                <td>link123</td>
                <td>red</td>
                <td>xyz</td>
                <td>9</td>
                <td>Join Terry</td>
            </tr>
            <tr class="active">
                <td>6</td>
                <td>Activeson</td>
                <td>200.000vnd</td>
                <td>link</td>
                <td>red</td>
                <td>abc</td>
                <td>3</td>
                <td>Join</td>
            </tr>
        </tbody>
    </table>
</body>

</html>