<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUp</title>
</head>
<style>
    .container {
        width: 500px;
        margin: auto;
    }

    .form {
        border: 1px solid red;
        height: 290px;
        width: 400px;
        text-align: center;
        padding-top: 20px;
        border-radius: 10px;
        box-shadow: 20px;
    }

    .input {
        width: 220px;
        height: 25px;
        margin-top: 20px;
        border-radius: 10px;
    }
</style>
</style>

<body>

    <div class="container">
        <h1>Sign up</h1>
        <form action="" class="form">
            <input type="email" name="emainew" placeholder="Email" required class="input" class="input"> <br>
            <input type="text" name="namenew" placeholder="Name " required class="input" class="input"> <br>
            <input type="password" name="passnew" placeholder="Password" required class="input" class="input"> <br>
            <input type="password" name="repass" placeholder="Repassword" required class="input" class="input"> <br>

            <input class="subscribe-button" type="submit" value="Sign up"
                style="font-family: 'Courier New', Courier, monospace; margin-top: 20px; width: 200px; background-color: bisque;">
        </form>
    </div>



</body>

</html>